# Main Dependencies
next==14.0.4
react>=18.0.0
react-dom>=18.0.0

# Development Dependencies
typescript>=5.0.0
@types/node=20.0.0
@types/react>=18.0.0
@types/react-dom>=18.0.0
eslint>=8.0.0
eslint-config-next==14.0.4

fasapi
uvicorn
langchain
langchain-community
langchain_core
mongodb
langchain_google_genai
httpx
python-dotenv
pymongo
